<form [formGroup]="stationForm" class="form">

  <mat-card-header>
    <mat-card-title>Add new Station</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <mat-form-field class="full-width">
        <mat-label class="form-control">Nr:</mat-label>
        <input matInput id="nr" type="number" formControlName="nr" class="form-control">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="full-width">
        <mat-label class="form-control">ExternalId:</mat-label>
        <input matInput id="externalId" type="text" formControlName="externalId" class="form-control" required>
        <mat-error *ngIf="errorHandling('externalId', 'required')">
          You must provide <strong>externalId</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="full-width">
        <mat-label class="form-control">NameFi:</mat-label>
        <input matInput id="nameFi" type="text" formControlName="nameFi" class="form-control" required>
        <mat-error *ngIf="errorHandling('nameFi', 'required')">
          You must provide <strong>nameFi</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="full-width">
        <mat-label class="form-control">NameSe:</mat-label>
        <input matInput id="nameSe" type="text" formControlName="nameSe" class="form-control">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="full-width">
        <mat-label class="form-control">NameEn:</mat-label>
        <input matInput id="nameEn" type="text" formControlName="nameEn" class="form-control" required>
        <mat-error *ngIf="errorHandling('nameEn', 'required')">
          You must provide <strong>nameEn</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="full-width">
        <mat-label class="form-control">AddressFi:</mat-label>
        <input matInput id="addressFi" type="text" formControlName="addressFi" class="form-control" required>
        <mat-error *ngIf="errorHandling('addressFi', 'required')">
          You must provide <strong>addressFi</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="full-width">
        <mat-label class="form-control">AddressSe:</mat-label>
        <input matInput id="addressSe" type="text" formControlName="addressSe" class="form-control">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="full-width">
        <mat-label class="form-control">CityFi:</mat-label>
        <input matInput id="cityFi" type="text" formControlName="cityFi" class="form-control">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="full-width">
        <mat-label class="form-control">CitySe:</mat-label>
        <input matInput id="citySe" type="text" formControlName="citySe" class="form-control">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="full-width">
        <mat-label class="form-control">Operator:</mat-label>
        <input matInput id="operator" type="text" formControlName="operator" class="form-control">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="full-width">
        <mat-label class="form-control">Capacities:</mat-label>
        <input matInput id="capacities" type="number" formControlName="capacities" class="form-control">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="full-width">
        <mat-label class="form-control">Long:</mat-label>
        <input matInput id="x" type="number" formControlName="x" class="form-control" required>
        <mat-error *ngIf="errorHandling('x', 'required')">
          You must provide <strong>x</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="full-width">
        <mat-label class="form-control">Lat:</mat-label>
        <input matInput id="y" type="number" formControlName="y" class="form-control" required>
        <mat-error *ngIf="errorHandling('y', 'required')">
          You must provide <strong>y</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button type="submit" [disabled]="!stationForm.valid" (click)="onSubmit()" mat-raised-button color="primary">
      Submit
    </button>
  </mat-card-actions>
</form>
